fastapi==0.111.0
uvicorn==0.30.1
sqlalchemy==2.0.31
pydantic==2.8.2
pydantic-settings==2.3.4
python-multipart==0.0.9
SQLAlchemy-Utils==0.41.2
pytz==2024.1
email-validator==2.2.0
ultralytics==8.2.55
insightface==0.7.3
faiss-cpu==1.8.0.post1
opencv-python==4.10.0.84
onnxruntime==1.18.1
lapx==0.5.9
numpy<2.0.0
openpyxl==3.1.5
fpdf2==2.7.9
torch>=2.0.0
timm>=0.9.0
